In [1]:
# importing pandas to convert csv file to html

import pandas as pd

In [2]:
# reading the existing cities.csv file

file = pd.read_csv("../Assets/cities.csv")
file.head()

,City,Latitude,Longitude,Max-Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,rikitea,-23.1203,-134.9692,78.01,72,100,6.04,PF,1619495166
1,mataura,-46.1927,168.8643,46.00,75,91,5.01,NZ,1619495167
2,quelimane,-17.8786,36.8883,75.20,94,20,2.30,MZ,1619495167
3,hamilton,39.1834,-84.5333,63.00,48,75,9.22,US,1619495060
4,atuona,-9.8000,-139.0333,79.70,74,94,17.45,PF,1619495167

In [3]:
# converting file to html

file.to_html("../Resources/cities.html")